---
import '../styles/global.css';
import Header from '../components/Header.astro';

---
<Header/>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Coco</title>
	</head>
	<body>
		<h1>This is Coco</h1>
		<p>She is my most precious sassy, silly kitty, 
        and I love her even through she bites<p>

        <div class="photos">
        <div class="item"><img src= "/cats/1000000036.jpeg"></div>
			<div class="item"><img src= "/cats/1000000042.jpeg"/></div>
			<div class="item"><img src= "/cats/1000000092.jpeg"/></div>
			<div class="item"><img src= "/cats/IMG_1708.jpeg"/></div>
			<div class="item"><img src= "/cats/IMG_2227.jpeg"/></div>
        </div>
	</body>
</html>