<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coco</title>
	</head>
	<body>
		<h1>This is Coco</h1>
		<p>She is my most precious sassy, silly kitty, 
        and I love her even through she bites<p>
	</body>
</html>