---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Food Pics</title>
	</head>
	<body>
		<h1>The camera eats first</h1>
		<p>A collection of all my favourite food pics<p>
	</body>
</html>