<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Food Pics</title>
	</head>
	<body>
		<h1>The camera eats first</h1>
		<p>A collection of all my favourite food pics<p>
	</body>
</html>