---

---
<a href="/">Home</a>
<a href="/"

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Main</title>
	</head>
	<body>
		<h1>Welcome!</h1>
		<p>I'm Ellen, a casual foodie and a professional procrastinator. <br>
		This site <p>
	</body>
</html>
