---
import '../styles/global.css';
import Header from '../components/Header.astro';

---
<Header/>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Recipes</title>
	</head>
	<body>
		<h1>Great recipes!</h1>
		<p>Here's a collection of my favourite recipe sites<p>
        <ul>
            <li>https://omnivorescookbook.com/</li>
            <li>https://thewoksoflife.com/</li>
            <li>https://mip.xiachufang.com/</li>
            <li>https://preppykitchen.com/</li>
            <li>https://www.rhubarbandlavender.com/lord-of-the-rings-a-hobbits-feast/</li>
            <li>https://www.recipetineats.com/</li>

        </ul>
	</body>
</html>