---
import '../styles/global.css';
import Header from '../components/Header.astro';

---
<Header/>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Recipes</title>
	</head>
	<body>
		<h1>Great recipes!</h1>
		<p>Here's a collection of my favourite recipe sites<p>
	</body>
</html>