<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Recipes</title>
	</head>
	<body>
		<h1>Great recipes!</h1>
		<p>Here's a collection of my favourite recipe sites<p>
	</body>
</html>