---
const platform = "Github";
---
<style>
    footer{
        display: flex;
        gap: 1rem;
        margin-top: 1.5rem;
    }
</style>

<footer>
    <p>Check out my projects on <a href="https://{github}.com/strawberrymochii">{platform}</a>!</p>
</footer>