---
import Navigation from './Navigation.astro'; 
---
<style>
    nav{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    nav a.active{
        font-weight: bold;
        background-color: green;
    }
</style>

<header>
    <nav>
        <Navigation/>
    </nav>
</header>