---

---
<style>
a{
    margin-top: 1rem;
    color: black;
    transition: all 0.3s ease;
}

a:hover{
    color: blue;
    background-color: green;
}

</style>

<a href="/">Home</a>
<a href="/food/">Food Pics</a>
<a href="/coco/">Cat</a>
<a href="/recipes/">Recipes</a>